<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">{{name}}, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a Fullstack developer with 6 years experience in building, optimizing, and
            maintaining responsive web apps using .NET, Angular, Azure for cloud and SQL. Experienced in Testing,
            Debugging and troubleshooting the existing code.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  
